@import './variables'

*,
*:before,
*:after
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 1rem
  color: $secondary-color

body
  background-color: $primary-color
  color: $secondary-color
  font-family: Arial, sans-serif
  line-height: 1.5

h1,
h2,
h3
  max-width: 30ch // for readability
  text-transform: uppercase
  font-weight: 900

h1
  font-size: 2rem

  @media #{$mq-1025-up}
    font-size: 3rem

h2
  font-size: 1.5rem

  @media #{$mq-1025-up}
    font-size: 2rem

p
  max-width: 60ch // for readability

a,
button
  outline: 0
  width: max-content

a
  text-decoration: none
  color: $accent-color

button,
input
  border: 0
  color: $primary-color

button
  padding: 1em
  background-color: $accent-color
  text-transform: uppercase
  font-weight: 500
  cursor: pointer

input
  padding: 0.5em 0 0.5em 1em

input:focus
  outline: 0.15em solid $accent-color
